// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white: #FFFFFF;
$off-white: #fefae0;
$olive: #606c38;
$dark-green: #283618;
$terracotta-light: #dda15e;
$terracotta: #bc6c25;

// #new colors
$light-gray: #B9CBB5;
$off-black: #061E24;
$darkish-green: #276159;
$super-light-green: #A4C956;
$mid-green: #419363;

// New Palette
$light-orange: #FCEBD4;
$orange: #F5A857;
$old-orange: #e98c21;
$light-yellow: #FFF8D3;
$light-olive: #D8F5D9;
